azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "defaultValue": "azure-alert-mattermost",
            "type": "string",
            "metadata": {
                "description": "The name for the logic app."
            }
        },
        "mattermostWebhookUrl": {
            "defaultValue": "YOUR_MATTERMOST_WEBHOOK_URL_HERE",
            "type": "string",
            "metadata": {
                "description": "Mattermost inbound webhook URL"
            }
        },
        "mattermostChannel": {
            "defaultValue": "general",
            "type": "string",
            "metadata":{
                "description": "The Mattermost channel to post to"
            }
        },
        "mattermostUsername":{
            "defaultValue": "Azure Alerts",
            "type": "string",
            "metadata": {
                "description": "The Username the Bot will use, can be anything meaningful"
            }
        },
        "location": {
          "type": "string",
          "defaultValue": "[resourceGroup().location]",
          "metadata": {
            "description": "Location for all resources."
          }
       }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_azure_alert_mattermost_name')]",
            "location": "usgovvirginia",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "mattermostWebhookUrl": {
                            "type": "SecureString"
                        },
                        "mattermostChannel": {
                            "type": "String"
                        },
                        "mattermostUsername": {
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "$schema": "http://json-schema.org/draft-04/schema#",
                                    "type": "object",
                                    "properties": {
                                        "schemaId": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "essentials": {
                                                    "type": "object",
                                                    "properties": {
                                                        "alertId": {
                                                            "type": "string"
                                                        },
                                                        "alertRule": {
                                                            "type": "string"
                                                        },
                                                        "severity": {
                                                            "type": "string"
                                                        },
                                                        "signalType": {
                                                            "type": "string"
                                                        },
                                                        "monitorCondition": {
                                                            "type": "string"
                                                        },
                                                        "monitoringService": {
                                                            "type": "string"
                                                        },
                                                        "alertTargetIDs": {
                                                            "type": "array"
                                                        },
                                                        "targetResourceGroup": {
                                                            "type": "string"
                                                        },
                                                        "configurationItems": {
                                                            "type": "array"
                                                        },
                                                        "originAlertId": {
                                                            "type": "string"
                                                        },
                                                        "firedDateTime": {
                                                            "type": "string"
                                                        },
                                                        "resolvedDateTime": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "essentialsVersion": {
                                                            "type": "string"
                                                        },
                                                        "alertContextVersion": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "alertContext": {
                                                    "type": "object",
                                                    "properties": {
                                                        "condition": {
                                                            "type": "object",
                                                            "properties": {
                                                                "allOf": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "linkToSearchResultsUI": {
                                                                                "type": "string"
                                                                            },
                                                                            "linkToFilteredSearchResultsUI": {
                                                                                "type": "string"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "customProperties": {
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose_Portal_Link": {
                            "type": "Compose",
                            "inputs": "@coalesce(triggerBody()['data']['alertContext']?['condition']?['allOf']?[0]?['linkToSearchResultsUI'], concat('https://portal.azure.us/#blade/Microsoft_Azure_Monitoring/AlertsBladeViewModel/alertId/', triggerBody()['data']['essentials']['alertId']))"
                        },
                        "Compose_Resource_Link": {
                            "runAfter": {
                                "Compose_Portal_Link": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@concat('https://portal.azure.us/#@/resource', triggerBody()['data']['essentials']['alertTargetIDs'][0])"
                        },
                        "Compose_Alert_Color": {
                            "runAfter": {
                                "Compose_Resource_Link": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@if(equals(triggerBody()['data']['essentials']['monitorCondition'], 'Fired'), '#FF4444', if(equals(triggerBody()['data']['essentials']['monitorCondition'], 'Resolved'), '#00C851', '#33B5E5'))"
                        },
                        "Compose_Alert_Icon": {
                            "runAfter": {
                                "Compose_Alert_Color": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@if(equals(triggerBody()['data']['essentials']['monitorCondition'], 'Fired'), '🚨', if(equals(triggerBody()['data']['essentials']['monitorCondition'], 'Resolved'), '✅', 'ℹ️'))"
                        },
                        "Compose_Human_Severity": {
                            "runAfter": {
                                "Compose_Alert_Icon": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@if(equals(triggerBody()['data']['essentials']['severity'], 'Sev0'), 'Critical 🔥', if(equals(triggerBody()['data']['essentials']['severity'], 'Sev1'), 'Error ⚠️', if(equals(triggerBody()['data']['essentials']['severity'], 'Sev2'), 'Warning ⚡', if(equals(triggerBody()['data']['essentials']['severity'], 'Sev3'), 'Informational 📋', if(equals(triggerBody()['data']['essentials']['severity'], 'Sev4'), 'Verbose 📝', triggerBody()['data']['essentials']['severity'])))))"
                        },
                        "Compose_Formatted_Time": {
                            "runAfter": {
                                "Compose_Human_Severity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@formatDateTime(triggerBody()['data']['essentials']['firedDateTime'], 'MMM dd, yyyy h:mm tt')"
                        },
                        "Post_to_Mattermost": {
                            "runAfter": {
                                "Compose_Formatted_Time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "channel": "@parameters('mattermostChannel')",
                                    "username": "@parameters('mattermostUsername')",
                                    "icon_emoji": ":azure:",
                                    "attachments": [
                                        {
                                            "color": "@outputs('Compose_Alert_Color')",
                                            "fallback": "Azure Alert: @{triggerBody()['data']['essentials']['alertRule']} is @{triggerBody()['data']['essentials']['monitorCondition']}",
                                            "pretext": "@{outputs('Compose_Alert_Icon')} **Azure Monitor Alert**",
                                            "author_name": "From: Azure @{triggerBody()['data']['essentials']['monitoringService']}",
                                            "author_icon": "https://raw.githubusercontent.com/vscode-icons/vscode-icons/refs/heads/master/icons/file_type_azure.svg",
                                            "title": "@{triggerBody()['data']['essentials']['alertRule']}",
                                            "title_link": "@{outputs('Compose_Portal_Link')}",
                                            "text": "@{if(empty(triggerBody()['data']['essentials']['description']), '_No description provided_', triggerBody()['data']['essentials']['description'])}",
                                            "fields": [
                                                {
                                                    "title": "🎯 Status",
                                                    "value": "@{triggerBody()['data']['essentials']['monitorCondition']}",
                                                    "short": true
                                                },
                                                {
                                                    "title": "🚨 Severity",
                                                    "value": "@{outputs('Compose_Human_Severity')}",
                                                    "short": true
                                                },
                                                {
                                                    "title": "📊 Signal Type",
                                                    "value": "@{triggerBody()['data']['essentials']['signalType']}",
                                                    "short": true
                                                },
                                                {
                                                    "title": "🏷️ Resource",
                                                    "value": "[@{last(split(triggerBody()['data']['essentials']['alertTargetIDs'][0], '/'))}](@{outputs('Compose_Resource_Link')})",
                                                    "short": true
                                                },
                                                {
                                                    "title": "📁 Resource Group",
                                                    "value": "@{triggerBody()['data']['essentials']['targetResourceGroup']}",
                                                    "short": true
                                                },
                                                {
                                                    "title": "🕐 Fired Time",
                                                    "value": "@{outputs('Compose_Formatted_Time')} UTC",
                                                    "short": true
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "type": "button",
                                                    "text": "🔍 View Alert Details",
                                                    "url": "@{outputs('Compose_Portal_Link')}",
                                                    "style": "primary"
                                                },
                                                {
                                                    "type": "button",
                                                    "text": "🔗 View Resource",
                                                    "url": "@{outputs('Compose_Resource_Link')}",
                                                    "style": "default"
                                                }
                                            ],
                                            "footer": "Azure Monitor",
                                            "footer_icon": "https://raw.githubusercontent.com/vscode-icons/vscode-icons/refs/heads/master/icons/file_type_azure.svg",
                                            "ts": "@{div(sub(ticks(utcNow()), 621355968000000000), 10000000)}"
                                        }
                                    ]
                                },
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "method": "POST",
                                "uri": "@parameters('mattermostWebhookUrl')"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "mattermostWebhookUrl": {},
                    "mattermostChannel": {},
                    "mattermostUsername": {},
                    "$connections": {
                        "type": "Object",
                        "value": {}
                    }
                }
            }
        }
    ]
}
